/* src/components/ProjectPage.css */
.project-page {
    padding: 20px;
  }
  .project-page h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .task-sections {
    display: flex;
    justify-content: space-between;
  }
  .task-section {
    margin-bottom: 20px;
    background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  width: 30%;
  height: 100%;
  border-radius: 15px;
  }
  
  .task-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* src/components/MessagingPage.css */
  .messaging-page {
    padding: 20px;
  }
  
  .message-container {
    height: 400px; /* Ajustez la hauteur selon votre design */
    overflow-y: scroll; /* Permet de faire défiler les messages */
  }
  .task-item {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .task-item:hover {
    background-color: #e0e0e0;
  }
  .project-page span{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 10vh;
  }